<a href="https://colab.research.google.com/github/UITTrinhQuangTruong/CS114.K21/blob/master/Lab_DuDoanRunTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

fname = '/content/drive/My Drive/Classroom/CS114.MACHINE LEARNING CS114.K21.KHTN & CS114.K21 - HK2 (2019-2020)/Data Lab/data.txt'
fi = open(fname, 'r')

fline = fi.read().split('\n')

data = pd.read_csv(fname, sep=',', header=None)

data.columns = ['Size', 'Time']

data.head()

      Size      Time
0  4032139  1.200580
1  2055486  0.509774
2  5626651  1.476080
3    42065  0.007651
4  6297788  1.661560

In [2]:
#Sinh them data

data['Sizex2'] = data['Size'] *2

data.head()

      Size      Time    Sizex2
0  4032139  1.200580   8064278
1  2055486  0.509774   4110972
2  5626651  1.476080  11253302
3    42065  0.007651     84130
4  6297788  1.661560  12595576

In [3]:
import math
data['log(Size)'] = [math.log(i, 2) for i in data['Size']]

data.head()

      Size      Time    Sizex2  log(Size)
0  4032139  1.200580   8064278  21.943114
1  2055486  0.509774   4110972  20.971048
2  5626651  1.476080  11253302  22.423845
3    42065  0.007651     84130  15.360333
4  6297788  1.661560  12595576  22.586414

In [4]:
y = data.Time

features = ['Size', 'Sizex2', 'log(Size)']

X = data[features]

X.describe()

               Size        Sizex2    log(Size)
count  5.211000e+03  5.211000e+03  5211.000000
mean   4.991583e+06  9.983166e+06    21.801786
std    2.903517e+06  5.807034e+06     1.459945
min    2.390000e+02  4.780000e+02     7.900867
25%    2.451362e+06  4.902724e+06    21.225152
50%    5.032102e+06  1.006420e+07    22.262730
75%    7.523041e+06  1.504608e+07    22.842885
max    9.995358e+06  1.999072e+07    23.252827

In [0]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=1)

In [14]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

model_with_tree = DecisionTreeRegressor(random_state=1)

model_with_tree.fit(X=train_X, y=train_y)

y_predict = model_with_tree.predict(test_X)

mean_absolute_error(test_y, y_predict)

0.034223161678178564

In [15]:
from sklearn import linear_model

model_with_linear = linear_model.LinearRegression()

model_with_linear.fit(X=train_X, y=train_y)

y_predict = model_with_linear.predict(test_X)

mean_absolute_error(test_y, y_predict)

0.024526302130558574